WebShopBackEnd/WebShopConsoleClient/WebShopConsoleClient/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFelhasznalo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Felhasznalo" nillable="true" type="tns:Felhasznalo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFelhasznalo" nillable="true" type="tns:ArrayOfFelhasznalo" />
  <xs:complexType name="Felhasznalo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Record">
        <xs:sequence>
          <xs:element minOccurs="0" name="Aktiv" type="xs:boolean" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HASH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Jog" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="LoginNev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProfilKep" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SALT" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Felhasznalo" nillable="true" type="tns:Felhasznalo" />
  <xs:complexType name="Record">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Record" nillable="true" type="tns:Record" />
</xs:schema>