WebShopBackEnd/WebShopConsoleClient/WebShopConsoleClient/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.Models" />
  <xs:element name="FelhasznaloLista_CS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloLista_CSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="FelhasznaloLista_CSResult" nillable="true" type="q1:ArrayOfFelhasznalo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloLista_Web">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloLista_WebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="FelhasznaloLista_WebResult" nillable="true" type="q2:ArrayOfFelhasznalo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloHozzaAd_CS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="felhasznalo" nillable="true" type="q3:Felhasznalo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloHozzaAd_CSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FelhasznaloHozzaAd_CSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloHozzaAd_Web">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="felhasznalo" nillable="true" type="q4:Felhasznalo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloHozzaAd_WebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FelhasznaloHozzaAd_WebResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloModosit_CS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="felhasznalo" nillable="true" type="q5:Felhasznalo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloModosit_CSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FelhasznaloModosit_CSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloModosit_Web">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="felhasznalo" nillable="true" type="q6:Felhasznalo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloModosit_WebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FelhasznaloModosit_WebResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloTorol_CS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloTorol_CSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FelhasznaloTorol_CSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloTorol_Web">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FelhasznaloTorol_WebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FelhasznaloTorol_WebResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>